h1{
	text-align: center;
}
h1{
	color: #A987B2;
}
h2{
	color: #F521C8;
}
p{
	color: #0CF07B;
}
body{
	background-color: #CCA76F;
}
img{
	width: 40%;
	border: 3px #7821F5 solid;
}
.baseballpara{
	color: orange;
}