.wrapper{
	max-width: 80%;
	border: solid black 4px;
	background-color: #1D6D5D ;
	margin:0 auto;
}
.s1{
	background-color: #E6B0AA ;
}
.s2{
	background-color: #F5B7B1 ;
}
.s3{
	background-color: #D7BDE2 ;
}
.s4{
	background-color: #D2B4DE ;
}
.s5{
	background-color: #A9CCE3 ;
}
.s6{
	background-color: #AED6F1 ;
}
.s7{
	background-color: #A3E4D7 ;
}
.s8{
	background-color: #A2D9CE ;
}
.s9{
	background-color: #A9DFBF ;
}
.s9{
	background-color: #ABEBC6 ;
}
.clearfix:after{
	content: "";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
img{
	max-width: 50%;
	float: left;
	clear:left;
}
h1{
	text-align: center;
	background-color: #C2BBF5 ;
	color: white;
	font-size: 86px;
	padding-bottom: 10px;
}
h2{
	font-size:45px;
	text-align:center;
	background-color: #9FC3E2 ;
}
body{
	padding: 60px;
	background-color: #DDDCEA ;
}
p{
	padding-left: 475px;
}
footer{
	color: #B3995D;
	text-align: center;
}